body {
    height: 10000vh;
    margin: 0;
    padding: 0;
}

table {
    width: 1266px;
    margin: 0 auto;
    border-spacing: 0;
    padding: 0;
}

td {
    height: 211px;
    width: 211px;
    text-align: center;
    background-color: lightgreen;
}