body {
    height: 10000vh;
    margin: 0;
    padding: 0;
}

table {
    width: 1266px;
    margin: 0 auto;
    padding: 0;
    border-width: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    border-width: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    height: 211px;
    width: 211px;
    text-align: center;
    background-color: lightgreen;
    padding: 0;
    margin: 0;
    border-width: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    display: block;
    padding: 0;
    margin: 0;
    margin-left: -1px;
}