body {
    height: 200vh;
    margin: 0;
    padding: 0;
    background-color: #b3e1eb;
}

table {
    width: 1266px;
    margin: 0 auto;
    padding: 0;
    border-width: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

tr {
    border-width: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    height: 211px;
    width: 211px;
    text-align: center;
    background-color: #b3e1eb;
    padding: 0;
    margin: 0;
    border-width: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

td.banner {
    height: 1081px;
    width: 1266px;
}

img {
    display: block;
    padding: 0;
    margin: 0;
    margin-left: -1px;
}